# COKLU DOGRUSAL REGRESYON

In [1]:
import pandas as pd
df = pd.read_csv("Advertising.csv")
df = df.iloc[:,1:len(df)]
df.head()

      TV  radio  newspaper  sales
0  230.1   37.8       69.2   22.1
1   44.5   39.3       45.1   10.4
2   17.2   45.9       69.3    9.3
3  151.5   41.3       58.5   18.5
4  180.8   10.8       58.4   12.9

In [2]:
X = df.drop('sales', axis=1)
y = df[["sales"]] #Bir tane daha koseli parantezi ekleyip ikili koseli parantez kuruldugunda pandas DataFrame'i olarak gosterilmis olur.

In [3]:
X.head()

      TV  radio  newspaper
0  230.1   37.8       69.2
1   44.5   39.3       45.1
2   17.2   45.9       69.3
3  151.5   41.3       58.5
4  180.8   10.8       58.4

In [4]:
y.head()

   sales
0   22.1
1   10.4
2    9.3
3   18.5
4   12.9

In [5]:
#statsmodels ile model kurmak

In [7]:
import statsmodels.api as sm

In [8]:
lm = sm.OLS(y, X)

In [9]:
model = lm.fit()

In [11]:
model.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                                 OLS Regression Results
=======================================================================================
Dep. Variable:                  sales   R-squared (uncentered):                   0.982
Model:                            OLS   Adj. R-squared (uncentered):              0.982
Method:                 Least Squares   F-statistic:                              3566.
Date:                Tue, 08 Feb 2022   Prob (F-statistic):                   2.43e-171
Time:                        00:44:28   Log-Likelihood:                         -423.54
No. Observations:                 200   AIC:                                      853.1
Df Residuals:                     197   BIC:                                      863.0
Df Model:                           3
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
TV             0.0538      0.001     40.507      0.000       0.051       0.056
radio          0.2222      0.009     23.595      0.000       0.204       0.241
newspaper      0.0168      0.007      2.517      0.013       0.004       0.030
==============================================================================
Omnibus:                        5.982   Durbin-Watson:                   2.038
Prob(Omnibus):                  0.050   Jarque-Bera (JB):                7.039
Skew:                          -0.232   Prob(JB):                       0.0296
Kurtosis:                       3.794   Cond. No.                         12.6
==============================================================================

Notes:
[1] R² is computed without centering (uncentered) since the model does not contain a constant.
[2] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [ ]:
#f istatistigi anlasilmadi, buna bak.

In [12]:
##scikit learn ile model kurmak

In [13]:
from sklearn.linear_model import LinearRegression
lm = LinearRegression()

In [15]:
model = lm.fit(X, y)

In [16]:
model.intercept_

array([2.93888937])

In [17]:
model.coef_

array([[ 0.04576465,  0.18853002, -0.00103749]])

In [ ]:
#Bagimsiz degiskenlerin degerleri statsmodel'a gore degisti. Bunun nedeni arkaplanda ilgili kutuphanelerin kullanmis oldugu parametre tahmin yontemleridir.